<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href="/@fortawesome/fontawesome-free/css/all.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light bg-opacity-90">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/images/logoDG.jpg" alt="" width="80" height="80"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutme">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects" >Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services" >Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact" >Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact_list" >Reference Contacts</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
    
    <div class="shadow-1-strong bg-white my-5" id="intro">
      <div class="bg-info text-white">
        <div class="cover bg-image"><img src="images/header-background.jpg"/>
          <div class="mask" style="background-color: rgba(18, 17, 82, 0.838);backdrop-filter: blur(2px);">
            <div class="text-center p-5">
              <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong" src="images/AboutDG.jpg" width="195" height="160"/></div>
              <div class="header-bio mt-3">
                <div data-aos="zoom-in" data-aos-delay="0">
                  <h2 class="h1">About Me</h2>
                  <p>I am a Cybersecurity Professional with more than 20 years of experience.</p>
                  <p>Currently I am enrolled at Centennial College in the Software Engineering Technology Program.</p>
                  <p>Previously I studied Electronics Engineering back in Mexico, where I come from.</p>
                  <p>I am happily married and proud father of two amazing girls.</p>
                  <p>I love sports and very much enjoy doing CrossFit, for which I am a certified instructor.</p>
                </div>
                <div class="d-print-none"><a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3" href="/docs/CVDavidGutierrez_CISSP.pdf" data-aos="fade-right" data-aos-delay="700">CV PDF version</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
